.container-hero {
  margin-top: 12rem;
}

.intro-example {
  height: 400px;
}

@media screen and (min-width: 848px) {
  .intro-example {
    height: 600px;
  }
}

.hero-text {
  font-family: "Lucida sans";
  text-shadow: 2px 2px 0px black;
}
